{
  "env": {
    "browser": true,
    "jquery": false,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react-hooks",
    "react",
    "jsx-a11y",
    "import",
    "@typescript-eslint"
  ],
  "rules": {
    "linebreak-style": "off",
    "indent": "off",
    "strict": "off",
    "comma-dangle": "off",
    "react/prop-types": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-tag-spacing": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/no-danger": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/media-has-caption": "off",
    "react/prefer-stateless-function": "off",
    "no-plusplus": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "camelcase": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "no-case-declarations": "off",
    "react/jsx-props-no-spreading": "off",
    "no-void": "off",
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "react-hooks/rules-of-hooks": "warn",
    "max-len": [
      "warn",
      120
    ],
    "no-cond-assign": "warn",
    "no-constant-condition": "warn",
    "no-control-regex": "warn",
    "no-debugger": "warn",
    "no-dupe-args": "warn",
    "no-dupe-keys": "warn",
    "no-duplicate-case": "warn",
    "no-empty-character-class": "warn",
    "no-empty": "warn",
    "no-ex-assign": "warn",
    "no-extra-boolean-cast": "warn",
    "no-func-assign": "warn",
    "no-inner-declarations": "warn",
    "no-irregular-whitespace": "warn",
    "no-negated-in-lhs": "warn",
    "no-obj-calls": "warn",
    "@typescript-eslint/no-unsafe-assignment": "warn",
    "@typescript-eslint/no-unsafe-call": "warn",
    "@typescript-eslint/no-extra-semi": "warn",
    "@typescript-eslint/semi": "warn",
    "no-regex-spaces": "warn",
    "no-sparse-arrays": "warn",
    "use-isnan": "warn",
    "valid-typeof": "warn",
    "no-fallthrough": "warn",
    "no-octal": "warn",
    "no-delete-var": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    "no-trailing-spaces": "warn",
    "arrow-body-style": "warn",
    "react/self-closing-comp": "warn",
    "function-paren-newline": "warn",
    "keyword-spacing": "warn",
    "brace-style": "warn",
    "padded-blocks": "warn",
    "object-curly-spacing": "warn",
    "quote-props": "warn",
    "react/jsx-closing-bracket-location": "warn",
    "spaced-comment": "warn",
    "import/order": "warn",
    "react/jsx-boolean-value": "warn",
    "quotes": "warn",
    "prefer-template": "warn",
    "no-multi-spaces": "warn",
    "arrow-parens": "warn",
    "no-multiple-empty-lines": "warn",
    "consistent-return": "warn",
    "space-before-blocks": "warn",
    "no-else-return": "warn",
    "arrow-spacing": "warn",
    "import/prefer-default-export": "warn",
    "operator-linebreak": "warn",
    "react/jsx-one-expression-per-line": "warn",
    "array-bracket-spacing": "warn",
    "space-in-parens": "warn",
    "react/jsx-closing-tag-location": "warn",
    "space-infix-ops": "warn",
    "block-spacing": "warn",
    "no-restricted-syntax": "warn",
    "prefer-const": "warn",
    "no-unused-expressions": "warn",
    "no-await-in-loop": "warn",
    "object-curly-newline": "warn",
    "comma-spacing": "warn",
    "react/jsx-curly-spacing": "warn",
    "operator-assignment": "warn",
    "space-before-function-paren": "warn",
    "no-unneeded-ternary": "warn",
    "key-spacing": "warn",
    "guard-for-in": "warn",
    "react/jsx-wrap-multilines": "warn",
    "no-nested-ternary": "warn",
    "react/jsx-curly-brace-presence": "warn",
    "no-lonely-if": "warn",
    "curly": "warn",
    "object-property-newline": "warn",
    "no-console": [
      "warn",
      {
        "allow": [
          "error",
          "group",
          "groupCollapsed",
          "groupEnd"
        ]
      }
    ],
    "no-unreachable": "error",
    "no-redeclare": "error",
    "no-undef": "error",
    "no-invalid-regexp": "error",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "draft"
        ]
      }
    ]
  },
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended"
  ]
}
