.pollen-score {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 40px;

    &_number {
    }
    &_text {
        margin-bottom: 7px !important;
        margin-left: 10px !important;
    }
}
