.pollen-item {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
