
.home-view {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    &__view-port {
        display: grid;
        height: 100vh;
        position: relative;
        scroll-snap-align: start;

        &--center {
            place-items: center;
        }

        &--scroll-down {
            bottom: 25px;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            right: 0;
            text-align: center;
            z-index: 100;
        }
    }
}
