.pollen-calendar {
    display: flex;
    justify-content: center;

    .pollen-field {
        border-radius: 20px;

        &--selected {
            opacity: .8;
        }

        &.pollen-color-empty {
            fill: #555555;
        }

        &.pollen-color-1 {
            fill: #e9ce1e;
        }

        &.pollen-color-2 {
            fill: #e97d1e;
        }

        &.pollen-color-3 {
            fill: #e91e63;
        }

        &.pollen-color-4 {
            fill: #e91e63;
        }
    }

}
