.header {
    background-color: transparent!important;
    border: none!important;
    box-shadow: none!important;
    color: black;

    .toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: black;
    }
}
