.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    scroll-snap-align: start;
    margin-top: auto;
}

.box {
    margin-top: -10px;
    height: 10vh;
    background-color: #e91e63;
}
